<mat-card class="cart-item--item">
  <mat-card-header>
    <mat-card-title>{{item.name | titlecase}}</mat-card-title>
    <mat-card-subtitle>{{item.price | currency}}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-actions class="cart-item--actions">

    <mat-form-field class="cart-item--amount">
      <input
        matInput
        type="number"
        min="0"
        [formControl]="amountControl"
      >
    </mat-form-field>

    <button
      mat-raised-button
      color="primary"
      (click)="onButtonClick()"
    >
      <mat-icon>{{buttonIcon}}</mat-icon>
      UPDATE CART
    </button>
  </mat-card-actions>
</mat-card>
