@import "../../../../styles/_sizes";
@import "../../../../styles/_theme";

:host {
  display: block;

  margin: $app-size-unit;

  .cart-item--item {
    max-width: $app-size-unit * 30;

    background-color: $movie-primary;
  }

  .cart-item--content {
    height: $app-size-unit * 10;

    overflow: auto;
  }

  .cart-item--actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .cart-item--amount {
    width: $app-size-unit * 6;
  }
}
