@import "_sizes";

@import "~@angular/material/theming";
$app-input-typography-config: (
  font-size: get-font-size(),
  line-height: 1.25,
  font-weight: 400
);

$movie-font-family: Roboto, sans-serif, Helvetica Neue, monospace;
