@import "./styles/_main";
@import "~@angular/material/prebuilt-themes/purple-green.css";

html,
body {
  height: 100%;
}

body {
  margin: 0;

  font-size: get-font-size();
  font-family: $movie-font-family;

  background-color: $movie-background;
}
